<table>
    <tr>
        <th><strong>Name</strong></th>
        <th><strong>Type</strong></th>
        <th><strong>Muscle</strong></th>
        <th><strong>Equipment</strong></th>
        <th><strong>Difficulty</strong></th>
        <th><strong>Instructions</strong></th>
    </tr>
    <tr *ngFor="let item of data">
        <td>{{item.name}}</td>
        <td>{{item.type}}</td>
        <td>{{item.muscle}}</td>
        <td>{{item.equipment}}</td>
        <td>{{item.difficulty}}</td>
        <td>{{item.instructions}}</td>
    </tr>
</table>